@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@500;600&family=JetBrains+Mono:wght@200;400;700&family=Luckiest+Guy&family=Pacifico&family=Roboto:wght@500;700;900&family=Sora:wght@500;800&display=swap");

body {
  margin: 10px 70px 30px 70px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 1527px;
  left: -157px;
  top: -48px;
  position: relative;
  height: 393px;
}

header::before {
  content: "";
  background-image: url("https://imagizer.imageshack.com/v2/1600x1200q90/924/VA3hVv.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  border-radius: 0 0 85% 85% / 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 90pt;
  color: #fe019a;
  position: relative;
  left: 42px;
  text-shadow: 5px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff,
    0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff,
    0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 4px #fff,
    0 0 4px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff,
    0 0 5px #fff, 0 0 6px #fff, 0 0 6px #fff, 0 0 6px #fff, 0 0 6px #fff,
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #fff,
    0 0 20px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 40px #fff, 0 0 40px #fff,
    0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff, 0 0 320px #fff;
}

.search-bar-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  top: -27px;
  left: 31px;
}

input {
  width: 500px;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  padding: 0px 15px;
  font-size: 12pt;
  height: 20pt;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.recipe {
  width: 600px;
  height: 200px;
}

.thumbnail {
  width: 280px;
  height: 280px;
  border-radius: 4px;
}

.thumbnail-container {
  height: 280px;
  padding: 5px;
  margin-bottom: 10px;
  width: 280px;
}

.large-font {
  font-size: 18pt;
}

.medium-font {
  font-size: 14pt;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 290px;
  margin: 20px 12px;
  transition: 0.3s all ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.recipe-container:hover {
  color: #fe019a;
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(110%);
}

.recipe-title {
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  font-weight: 800;
  width: 290px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-bottom: 10px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
}

.recipe-page-pic-container {
  width: 381px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.recipe-page-pic {
  width: 381px;
  height: 381px;
  border-radius: 10px;
  margin: 10px;
}

.columns {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.components-container {
  width: 381px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.instructions-container {
  width: 711px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.recipe-page-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.right-column,
.left-column {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.recipe-page-title {
  font-family: "Sora", sans-serif;
  font-size: 36pt;
  font-weight: 800;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 50px 50px 50px;
  text-shadow: 5px 5px 5px #cccccc;
}

.components-list {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 10pt;
}

.components-header {
  text-transform: uppercase;
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 12pt;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-header {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  font-weight: 700;
  text-transform: uppercase;
}

.instructions-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16pt;
}

.step {
  margin: 20px;
}

button:hover {
  cursor: pointer;
}

.search-btn {
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.back-btn {
  background-color: transparent;
  border: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14pt;
  padding: 5px 15px;
  transition: 0.3s;
}

.btn:hover,
.search-btn:hover,
.back-btn:hover {
  transform: scale(1.2);
}

.back-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 77px;
  margin: 10px;
  width: 100%;
}

.loader {
  display: flex;
  justify-content: center;
}

.footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn {
  border: 0px;
  background-color: transparent;
  transition: 0.3s all ease-in-out;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14pt;
}
